name: Deploy Documentation to GitHub Pages

on:
  push:
    branches:
      - main
  pull_request: # TODO: remove
  workflow_dispatch:

# Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
permissions:
  contents: read
  pages: write
  id-token: write

# Allow only one concurrent deployment
concurrency:
  group: "pages"
  cancel-in-progress: true

jobs:
  build:
    name: Build Documentation
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        
      - name: Build RegexCorrectness
        uses: leanprover/lean-action@v1
        with:
          build-args: '--wfail'
          lake-package-directory: correctness

      - name: Build project documentation
        id: build-docgen
        uses: leanprover-community/docgen-action@main
        with:
          lake-package-directory: correctness
