name: Deploy Documentation to GitHub Pages

on:
  push:
    branches:
      - main
  workflow_dispatch:

# Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
permissions:
  contents: read
  pages: write
  id-token: write

# Allow only one concurrent deployment
concurrency:
  group: "pages"
  cancel-in-progress: true

jobs:
  build:
    name: Build Documentation
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Setup Pages
        uses: actions/configure-pages@v5
        
      - name: Build RegexCorrectness
        uses: leanprover/lean-action@v1
        with:
          build-args: '--wfail'
          lake-package-directory: correctness

      - name: Build Documentation
        working-directory: docbuild
        run: lake build --keep-toolchain Regex:docs RegexCorrectness:docs
          
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: 'docbuild/.lake/docs'

  deploy:
    name: Deploy to GitHub Pages
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
